.about-body{
    height: 100vh;
    background-color: #ffffff;
// background-image: linear-gradient(360deg, #A9C9FF 0%, #FFBBEC 100%);
    color: rgb(0, 0, 0);
}
.about-div{
    padding: 10px;
}

.about-pic{
    width: 500px;
}