.contact-body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.contact-imgBox{
    width: 100%;
    text-align: center;
}

.contact-pic{
    width: 20%;
    height: auto;
    padding: 10px;
}