.footer-body{
    background-color: #292929;
    color: white;
    height: 10vh;

}

.footer-content{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding-top: 50px;
}